---
import background from '../assets/background.svg';
import "../styles/animations.css"
import "../styles/styles.css"
import ArrowDown from "../assets/arrowDown.astro"
import Github from '../assets/Github.astro'
import EmailInput from "../components/EmailInput.astro"
import Youtube from '../assets/Youtube.astro'

---

<div >
	<main>
		<img id="background" src={background.src} alt="" fetchpriority="high" />
		<img id="background" src={background.src} alt="" fetchpriority="high" />
		<section id="view" class="h-screen flex flex-col justify-center items-center">
			<h1 id="title" class="text-9xl text-center">Daniel Ibay</h1>
			<p id="subtitle" class="text-4xl text-center">FullStack Junior</p>
			<a id="scrollDown" class="absolute bottom-16 flex justify-center items-center text-4xl opacity-75"><ArrowDown /></a>
		</section>
		<section class="h-screen bg-[#1c2027]">
			<div class="flex flex-col items-center gap-1 pt-4">
				<h1 id="title2" class="scroll text-4xl text-center">Daniel Ibay</h1>
				<p id="subtitle2" class="scroll text-2xl text-center">FullStack Junior</p>
				<div class="flex flex-row gap-40 pt-10">
					<div class="flex flex-col gap-4">
						<div class="flex flex-col">
							<picture class="">
								<img class="border-3 border-transparent bg-clip-border bg-gradient-to-r from-[#83295a] to-[#64348b] rounded-full w-[256px] h-[256px] m-6" src="/mifoto.jpeg" />
							</picture>
							<div>
							</div>
						</div>
						<div>
							<h2 class="text-gradient text-4xl font-semibold mb-4">Sobre mí</h2>
							<p class="text-xl max-w-2xl mx-auto">
								Soy desarrollador fullstack sin experiencia laboral.<br> Tengo muchas aficiones, desde lo artístico como el dibujo o el canto hasta ciencias puras como las matemáticas y la física.
								Me he formado gracias a cursos de internet de forma autodidacta, como <a class="underline text-blue-400" href="https://pll.harvard.edu/course/cs50-introduction-computer-science">CS50</a> de Harvard, <a class="underline text-blue-400" href="https://fullstackopen.com/es/">FullStack Open</a> de la Universidad de Helsinki y cursos de YouTube, como los de <a class="underline text-blue-400" href="https://www.youtube.com/c/midudev">Midudev</a>.
							</p>
						</div>
						<div class="flex flex-col gap-6">
							<h2 class="text-gradient text-4xl font-semibold">Contacto</h2>
							<EmailInput/>
							<div class="flex flex-row gap-4">
								<a href="https://github.com/Daniel-Ibay" title="Github"  class="hover:scale-110 duration-300">
									<Github />
								</a>
								<a href="https://www.youtube.com/@DibayDeveloper" title="Youtube"  class="hover:scale-110 duration-300">
									<Youtube />
								</a>
							</div>
						</div>
					</div>
					<div class="flex flex-col">
						<div class="h-[320px]"></div>
						<h2 class="text-gradient text-4xl font-semibold mb-4">Mis Proyectos</h2>
						<a title="Ver más" href="/fintrack" class=" mt-4 block">
						<div class="grid grid-cols-1 gap-8">
							<div class="bg-[#2d353b] p-6 rounded-lg shadow-lg hover:scale-105 transition-all duration-500">
								<h3 class="text-2xl font-bold mb-2">Fullstack</h3>
								<p class="text-lg">Página de gestión financiera</p>
									<img transition:name="fintrack-image" src="/FintrackScreenshot.png" class="h-48 rounded-xl p-2" />
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>
